
/* Destination Show */
.service-heading {
    border-bottom: solid;
    margin-right: 28px;
    border-color: white;
    border-width: 1px;
    margin-bottom: 5px;
    position: relative;
}
.service-wrapper .service-footer {
    max-width: 720px;
}
.service-work.card {
    border-radius: 10px !important;
    cursor: pointer;
}
.service-work .service-work-vertical {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 33.33%,
        rgba(186, 144, 49, 1) 66.66%,
        rgba(255, 255, 255, 0) 99.99%
    );
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: 0.5s;
}
.service-work .service-work-vertical:hover {
    background-position: 0% 0%;
    transition: 0.5s;
}
.service-work .service-work-vertical:hover * {
    color: #000;
    border-color: #000;
    transition: 0.5s;
}